@model WarehouseTransactionModel

@{
    ViewData["Title"] = "Xuất kho";
}

<div class="text-center">
    <h1 class="display-4">Xuất kho</h1>
       

<form asp-area="Admin" asp-controller="Warehouse" asp-action="Export" method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" class="text text-danger"></div>

    <div class="mb-3">
        <label class="form-label">Sản phẩm</label>
        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Products">
            <option value="">-- Chọn sản phẩm --</option>
        </select>
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Số lượng xuất</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Ghi chú</label>
        <input asp-for="Notes" class="form-control" />
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Xuât kho</button>
</form>
</div>
